@font-face {
	font-family: 'Wallau';
	src: url('WallauRundgotisch-Heavy-webfont.eot'); /* IE9 Compat Modes */
  	src: url('WallauRundgotisch-Heavy-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('WallauRundgotisch-Heavy-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('WallauRundgotisch-Heavy-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('WallauRundgotisch-Heavy-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('WallauRundgotisch-Heavy-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-size: 18pt;
	line-height: 21pt;
	font-family: "Wallau", "Optima", Arial, sans-serif;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
}

h1 {
	margin: 0;
	color: lightblue;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 5em;
	font-weight: normal;
	line-height: 1em;
}

p {
	color: black;	
    font-size: 1em;
    line-height: 1em;
}

a, a:visited, a:active {
	color: black;
}

#title {
	text-transform: uppercase;
	text-align: justify;
	font-size: 2em;
	line-height: 1em;
	z-index: 10;
	letter-spacing: 10px;
	white-space: nowrap;
	text-align: center;
	margin: 1em auto;
	position: fixed;
	left: 50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
}

.chair {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: -10;
}



/*.centerer {
	max-width: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}*/

.textcolumn {
	width: 500px;
	max-width: 100%;
	background-color: white;
	padding: .5em 1em;
	border: 5px solid black;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-bottom: 5%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
}

#water {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	z-index: 100;
	max-width: 100%;
}

.button {
	display: inline;
}

#diagram {
	display: none;
}

.centerspin {
	max-width: 500px;
	max-height: 500px;
	-webkit-animation:spin2 60s linear infinite;
    -moz-animation:spin2 60s linear infinite;
    animation:spin2 60s linear infinite;
}

#mandala {
	position: fixed;
	bottom: 5%;
    left: 5%;
	/*transform: translate(-50%, -50%);*/
	max-width: 200px;
	z-index: -3;
	-webkit-animation:spin2 30s linear infinite;
    -moz-animation:spin2 30s linear infinite;
    animation:spin2 30s linear infinite;
}

#spinner {
	z-index: 5;
	position: fixed;
    bottom: 5%;
    right: 5%;
    width: 200px;
    height: 200px;
    margin:-100px 0 0 -100px;
    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
}

.smallbutton {
	display: none;
}


@media screen and (max-width: 1024px) {
   
}

@media screen and (max-width: 768px) { 
	#title {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 667px) {

	body {
		overflow-x: hidden;
	}

     #title {
		font-size: 1em;
		text-align: center;
		margin: 1em auto 1em auto;
		position: relative;
		white-space: normal;
	}

	#largediagram {
		display: none;
	}

	#diagram {
		display: inline;
		position: relative;
		margin: 0 auto;
	}

    .textcolumn {
    	max-width: 100%;
    	font-size: .75em;
    	padding: 14px;
    	border: 2px solid black;
    	position: relative;
    	margin: 0 auto;
    	transform: translate(0,0);
    	-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
    	top: 0; left: 0;
    }

    .button {
        display: none;
    }

    #spinner {
    	display: none;
    }

    #mandala {
    	display: none;
    	/*bottom: auto; right: auto;
    	display: inline;
    	position: relative;
    	margin: 0;
    	width: 100%;
    	max-width: 200px;
    	-webkit-animation: none;
    	-moz-animation: none;
    	animation: none;*/
    }

    .smallbutton {
    	display: block;
    	position: relative;
    	margin: 0 auto 1em auto;
    	font-size: 1em;
    	text-align: center;
    }

    .chair {
    	max-width: 100%;
    	position: relative;
		transform: translate(0,0);
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,8);
		margin-left: -50%;
    }

    .centerspin {
    	position: relative;
    	display: inline;
		max-width: 100%;
		max-height: 100%;
		margin-left: -5%;
		-webkit-animation:spin2 60s linear infinite;
	    -moz-animation:spin2 60s linear infinite;
	    animation:spin2 60s linear infinite;
	}
  }

  @media screen and (max-width: 500px) {
   	#title {
		font-size: 1em;
		white-space: normal;
	}
	
	#diagram {
		position: relative;
		margin: 0 5%;
	}


    .button {
        display: none;
    }

    #spinner {
    	display: none;
    }

    #mandala {
    	display: none;
    	/*bottom: auto; right: auto;
    	display: inline;
    	position: relative;
    	margin: 0;
    	width: 100%;
    	max-width: 200px;
    	-webkit-animation: none;
    	-moz-animation: none;
    	animation: none;*/
    }

    .smallbuttons {
    	width: 50%;
    }

    .smallbuttons img {
    	width: 100px;
    	height: 100px;
    }

    #chair {
    	display: inline;
    	position: relative;
    	max-width: 100%;
    }

    .textcolumn {
    	margin: 1em;
    	margin-left: -1em;
    }
  }
  }


@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
}

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}