a:link {
	color: #696969;
}

a:visited {
	color: #333333;
}

a:hover {
	color: black;
	background: black;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	text-transform: lowercase;
	/*text-align: center;*/
}

h1 {
	margin: 0;
}

.content {
	width: 500px;
	padding: 20px;
}

/*.content:hover {
	background: black;
}*/