#block {
	width: 500px;
	margin: 3em auto;
	text-align: center;
}

.transitioner {
	background-color: white;
	transition-property: background-color;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-funtion: ease;
}

a:link {
	color: #999;
}

a:visited {
	color: #666;
}

.transitioner:hover {
	color: black;
	background-color: black;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	text-transform: lowercase;
	background-color: white;
	/*text-align: center;*/
}

h1 {
	margin: 0;
}

.content {
	width: 500px;
	padding: 20px;
}

/*.content:hover {
	background: black;
}*/