/* Special stylesheet to work with columns */

body {
	font-size: 12px;
	line-height: 1.5em;
	font-family: monospace;
}

/*p.blocktext {
	margin: auto;
}*/

.box {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	width: 400px;
	height: 1.25em;
	overflow: hidden;
	padding: 1em;
	position: static;
	margin: 10px 0;
	transition: height 1s ease;
	z-index: -1;
}

.box:hover {
	height: 100%;
	z-index: 5;
}

.centerer {
  position: absolute;
  top: 53%;
}

.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

blockquote { width: 300px; }
