@import url(http://fonts.googleapis.com/css?family=Crimson+Text:600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Oxygen:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:900italic,900);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300italic);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Hind:400,600,700,500);

/* NAV BUTTONS */

#next_button {
	width: 25px;
	height: 25px;
	/*border-radius: 50%;*/
	background: white;
	border: black 3px solid;
	
	font-family: monospace;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	right: -16px;
	top: 50%;
	margin-top: -12.5px;
	z-index: 1000;
	line-height: 28px;
	display: block;
	opacity: .25;
	transition: opacity .125s, right .125s;
}

#prev_button {
	width: 25px;
	height: 25px;
	/*border-radius: 50%;*/
	background: white;
	border: black 3px solid;
	
	font-family: monospace;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	position: fixed;
	left: -16px;
	top: 50%;
	margin-top: -12.5px;
	z-index: 1000;
	line-height: 28px;
	opacity: .25;
	transition: opacity .125s, left .125s;
}

#next_button a {
	color: black;
	text-decoration: none;
}

#prev_button a {
	color: black;
	text-decoration: none;
}

#next_button:hover {
	opacity: 1;
	right: 3px;
}

#prev_button:hover {
	opacity: 1;
	left: 3px;
}

#home_button {
	width: 75px;
	height: 25px;
	/*border-radius: 50%;*/
	background: white;
	border: black 3px solid;
	letter-spacing: 1px;
	font-family: monospace;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	position: fixed;
	bottom: -18px;
	right: 50%;
	margin-right: -25px;
	z-index: 1000;
	line-height: 28px;
	opacity: .25;
	transition: opacity .125s, bottom .125s;
	/*padding-right: 1px;*/
}

#home_button:hover {
	opacity: 1;
	bottom: 3px;
}

#home_button a, a:visited {
	color: black;
	text-decoration: none;
}

#home_button a:visited {
	color: black;
	text-decoration: none;
}

/* INDEX STYLES */

body.index {
	font-family: 'Courier New', Courier, monospace;
	background-color: white;
	font-size: 14px;
	text-align: center;
	line-height: 2em;
}

body.index a {
	text-decoration: none;
	transition: color 1s ease;
}

body.index a:link {
	color: black;
}

body.index a:visited {
	color: black;
	}

body.index a:hover {
	color: white;
}

body.index h1 {
	font-size: 1em;
}

body.index em {
	font-style: normal;
	text-decoration: underline;
}

body.index .container {
	background-color: white;
	display: block;
	width: 50%;
	height: 50%;
	display: absolute;
	/*margin-top: 2em;
	right: 50%;*/
	padding: 1em 2em 2em 2em;
	border: 1px black solid;
	box-shadow: 5px 5px black;
	z-index: 100;
}

/* PAGINA PRIMA */

body.one {
	font-family: 'Crimson Text', 'Times New Roman', Georgia, serif;
	font-weight: 600;
}

body.one em {
 	font-style: italic;
 }

body.one .text {
	clear: both;
	padding: 0 0 0 0;
	width: 550px;
}

body.one header {
	padding: 35px 30px 10px 30px;
	text-align: center;
	margin: 0;
	background-color: #F6F6F6;
}

body.one .coverbox {
	background-color: #F6F6F6;
	width: 500px;
	height: 250px;
	text-align: center;
	left: 50%;
	top: 50%;
	padding: 35px 30px 10px 30px;
	position: fixed;
}

body.one h1 {
	color: #000000;
	font-family: 'Crimson Text', serif;
	font-size: 54px;
	font-weight: 700;
	line-height: 1.4em;
	text-align: center;
	margin: 0;
}

body.one .coverbox a {
	color: inherit;
	text-decoration: none;
}

body.one .coverbox a:visited {
	color: inherit;
	text-decoration: none;
}

body.one h2 {
	font-family: 'Oxygen', serif;
	margin: 0;
	padding: 0 30px 0 30px;
	font-weight: 600;
	font-size: 22px;
	color: #000000;
	line-height: 1.6em;
	background-color: #F6F6F6;
}

body.one h3 {
	font-family: 'Oxygen';
	font-weight: 700;
	color: #E52F25;
	font-size: 17;
	margin: none;
}

body.one blockquote {
	margin: 0 0 15px 0;
	padding: 30px 30px 15px 35px;
	background-color: #F6F6F6;
}

body.one p {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.7em;
	color: #000000;
}

body.one strong {
	font-size: 60px;
	float: left;
	padding: 35px 23px 20px 25px;
	background-color: #F6F6F6;
	margin-right: 10px;
}

/* PAGINA SECUNDA */

body.two {
	font-family: Merriweather, serif;
	font-weight: 400;
	line-height: 1.5;
	background: rgba(51,51,51,0.05);
}

body.two .text {
	width: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 20px 20px;
}

body.two .cover {
	width: 600px;
	height: 130px;
	padding-left: 60px;
	margin: auto;
	background-color: white;
	padding: 20px 20px;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	border: 2px black dashed;
	/*transform: translateY(-50%);*/
}

body.two a, body.two a:visited, body.two a:hover, body.two a:active {
	color: inherit;
	text-decoration: none;
}

body.two h1 {
	font-size: 2.25rem;
	line-height: 2.5rem;

}

body.two h2 {
	font-size: 1 rem;
	margin-bottom: 0.375rem;
	color: #767676;
}

body.two h3 {
	color: #005689;
}

body.two h4 {
	margin-bottom: 0.0625rem dotted #dfdfdf;
	color: #005689;
}

/* PAGINA TERTIA */

body.three {
	font-family: Arial, Helvetica, sans-serif;
	color: #006000;
	margin: 0;
}

body.three h1 {
	font-size: 28px;
	font-weight: normal;
	line-height: 32px;
	text-align: center;
	margin-bottom: 2em;
}

body.three h2 {
	margin: 0 0 1em;
	padding: 0;
	font-size: 18px;
	line-height: 25px;
}

body.three h3 {
	font-weight: normal;
}

body.three h4 {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	font-size: 15px;
	line-height: 16px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10em;
}

body.three .lime-underline {
	border-bottom: 2px solid #0f0;
}

body.three .cover-items a {
	text-decoration: none;
	color: #006000;
}

body.three .maintext {
	width: 718px;
	float: center;
	margin: 0 auto;
}

body.three .cover-items {
	text-align: center;
	width: 500px;
	height: 200px;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	position: absolute;
}

body.three #bottom-margin-text {
	border-top: 2px dashed #006000;
	height: 1em;
	width: 100%;
	position: relative;
	bottom: 10%;
	padding-top: 0;
	margin: 112px auto 0 auto;
}

body.three #bottom-margin-cover {
	border-top: 2px dashed #006000;
	height: 1em;
	width: 100%;
	position: absolute;
	bottom: 10%;
	padding-top: 0;
	margin: 112px auto 0 auto;
	z-index: -10;
}

body.three .footer-item {
	display: inline-block;
	width: 206px;
	margin: 25px 42px 40px 0;
	vertical-align: top;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
}

/* PAGINA QUARTA */

body.four {
	font-family: Monaco, Chicago, Geneva, Helvetica, Techno, TTYFont, Verdana;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

body.four .cover-items {
	text-align: center;
	width: 500px;
	height: 200px;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	position: absolute;
}

body.four .cover-items a {
	color: blue;
	text-decoration: underline;
}

body.four .cover-items a:visited {
	color: purple;
	text-decoration: underline;
}

body.four h1 {
	font-size: 12px;
}

body.four h2 {
	font-size: 10px;
}

body.four h3 {
	font-size: 10px;
}

body.four h4 {
	font-size: 10px;
}

body.four p {
	font-size: 10px;
}

body.four blockquote {
	font-size: 10px;
}

body.four em {
	font-style: normal;
	color: blue;
	text-decoration: underline;
}

body.four em:hover {
	cursor: no-drop;
}

body.four .text {
	width: 800px;
	margin: 0 auto;
}

/* PAGINA QUINTA */

body.five {
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 1.357em;
	padding-right: 15px;
}

body.five h1 {
	text-transform: lowercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 3em;
}

body.five header {
	border-bottom: 1px dashed;
}

body.five footer {
	position: absolute;
	bottom: 0;
}

body.five a {
	color: inherit;
	text-decoration: none;
}

body.five a:visited {
	color: inherit;
	text-decoration: none;
}

body.five h3 {
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 1.538em;
	display: block;
	color: #888;
	margin: 26px 0 15px 0;
	font-style: normal;
}

body.five h2 {
	font-family: georgia, serif;
	font-size: 2.307em;
	font-style: italic;
	line-height: 1;
	margin-bottom: 40px;
	font-weight: normal;
}

body.five h4 {
	font-size: .85em;
	text-transform: lowercase;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
}

body.five .maintext {
	width: 600px;
	padding-left: 2em;
	border-bottom: 1px dashed;
}

body.five blockquote {
	color: #666;
	padding-right: 3em;
}

/* PAGINA SIXTA */

body.six {
	font-family: 'Libre Baskerville', Georgia, serif;
	background: #2b292b;
	font-size: 14px;
	line-height: 2em;
}

body.six h1 {
	font-family: 'Lato';
	font-weight: 900;
	font-style: italic;
	color: #2b292b;
	font-size: 5em;
	display: inline;
	padding-right: .11538em;
}

body.six h3 {
	font-style: italic;
	font-weight: normal;
	font-size: 2em;
	white-space: nowrap;
	padding: 0;
}

body.six h4 {
	font-size: .75em;
	text-align: center;
	font-weight: normal;
}

body.six .text {
	padding-left: 6em;
	margin-top: 5em;
	padding-top: 5em;
	background: #f5f2ed;
}

body.six .maintext {
	width: 600px;
	padding-top: 2em;
	background: #f5f2ed;
}

body.six .cover {
	height: 100%;
	width: 100%;
	position: fixed;
	
	vertical-align: center;
}

body.six .nailed {
	position: fixed;
	bottom: 10;
}

body.six header {
	border: solid 2px #2b292b;
	border-width: 0 0 2px 0;
	width: 600px;
}

body.six p {
	margin-bottom: 2em;
}

body.six blockquote {
	font-weight: bold;
}

body.six strong {
	font-size: 2em;
	float: left;
	margin-right:10px;
}

body.six .image {
	position: fixed;
	bottom: 10px;
	right: 10px;   
}

body.six a, body.six a:visited {
	color: inherit;
	text-decoration: none;
}

/* PAGINA SEPTIMA */

body.seven {
	font-family: Merriweather,Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	line-height: 1.75;
	color: rgba(0,0,0,0.8);
}

body.seven header {
	padding-top: 75px;
	display: block;
	background-image: url("bg7.jpg");
	margin: 0 0 3em 0;
	word-wrap: break-word;
	text-align: center;
	width: 700px;
	margin: 0 auto;
}

body.seven h1 {
	font-family: "Lato","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 900;
	font-style: normal;
	font-size: 60px;
	margin-left: -3px;
	line-height: 1;
	letter-spacing: -0.04em;
	margin-top: 40px;
	padding-top: 0;
	margin-bottom: 8px;
	letter-spacing: .5px;
}

body.seven h3 {
	font-weight: 300;
}

body.seven .maintext {
	width: 700px;
	margin: 0 auto;
}

body.seven blockquote {
	font-family: Merriweather,Georgia,Cambria,"Times New Roman",Times,serif;
	letter-spacing: 0.01rem;
	font-weight: 300;
	font-style: italic;
	border-left: 3px solid rgba(0,0,0,0.8);
	padding-left: 20px;
	margin-left: -23px;
	padding-bottom: 3px;
}

body.seven hr {
	display: block;
	width: 100px;
	margin: 51px auto 41px auto;
	border: 0;
	border-top: 1px solid rgba(0,0,0,0.15);
}

body.seven .bigimage {
	position: absolute;
	top: 50%;
	left: -5%;
}

body.seven .clipper {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0; 
	right: 0;
}

body.seven a, body.seven a:visited {
	color: inherit;
	text-decoration: none;
}

/* PAGINA OCTAVA */

body.eight {
	font-family: Merriweather, Georgia, serif;
	font-size: 19px;
	line-height: 32px;
	margin-bottom: 42px;
	font-weight: 400;
}

body.eight h1 {
	color: #035A6D;
	font-family: 'Oswald',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 38px;
	margin: 0;
}

body.eight h2 {
	font-style: italic;
	font-weight: 300;
	font-size: 28px;
	line-height: 34px;
	padding-left: 60px;
	padding-right: 60px;
}

body.eight h3 {
	font-size: 18px;
	line-height: 30px;
	color: #6f6f6f;
	font-family: 'Oswald',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-style: normal;
}

body.eight h4 {
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #666;
}

body.eight header {
	text-align: center;
}

body.eight strong {
	float: left;
	color: #000;
	font-size: 146px;
	line-height: 102px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 3px;
	font-family: 'Quattrocento',serif;
	margin-bottom: -6px;
}

body.eight .maintext {
	margin-left: 200px;
	width: 700px;

}

body.eight p {
	float:left;
}

body.eight .cover a, body.eight .cover a:visited {
	color: #fca592;
	text-decoration: none;
}

/*body.eight .clip-circle {
	position: absolute;
	z-index: 100;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	overflow: hidden;
	top: 0; right: 0; left: 0; bottom: 0;
	margin: 0 auto;
	vertical-align: middle;
}*/

body.eight .nailed {
	position: absolute;
	bottom: 20px;
	transform: rotate(4deg);
}

body.eight .cover {
	width: 110%;
	height: 110%;
	overflow: hidden;
	position: fixed;
	margin: -2%;
	padding: 0;
}

body.eight .enlarger {
	font-size: 8.5em;
	line-height: 1em;

}

body.eight .image {
	position: fixed;
	/*margin: 0 auto;*/
	top: 50%; left: 50%;
	margin-top: -331px;
	margin-left: -331px;
}

body.eight blockquote {
	float: none;
	font-size: 25px;
	line-height: 33px;
	margin-bottom: 30px;
	font-style: italic;
	color: #6f6f6f;
	font-weight: 300;
}

/* PAGINA NONA */

body.nine {
	background-color: #DDDDDD;
	font-size: 13pt;
}

body.nine .text {
	width: 420px;
	padding: 20px 20px 20px 40px;
	background: #fff;
	margin: 150px 40px 30px 0;

}

body.nine h1 {
	font-family: "Titillium Web", Helvetica, Arial, sans-serif;
	font-size: 3em;
	line-height: 1.1em;
	margin-bottom: 20px;
	font-weight: 600;
}

body.nine h3 {
	font-family: "Titillium Web", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 600;
}

body.nine h4 {
	font-family: "Titillium Web", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 600;
	color: #666666;
}

body.nine p {
	margin-bottom: 20px;
	line-height: 1.6em;
	font-size: 1em;
}

body.nine #author {
	text-decoration: underline;
}

body.nine blockquote {
	font-weight: bold;
	text-indent: 0px;
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

body.ninecover .centered {
	position: fixed;
	/*margin: 0 auto;*/
	top: 50%; left: 50%;
	margin-top: -183.5px;
	margin-left: -250px;
}

body.ninecover .centered:hover {
	transform: rotate(3deg);
}


/* PAGINA DECIMA */

body.ten {
	font-size: 14px;
}

body.ten header:before {
	position: absolute;
	top: 0;
	left: 0;
	background: url('7bg.jpg') repeat-x top center;
	width: 100%;
	z-index: 1;
	height: 11.25rem;
}

body.ten .text {
	width: 680px;
}

body.ten .maintext {
	padding-left: 3em;
}

body.ten h4 {
	font-size: 1.125rem;
	margin-right: 2.5rem;
	display: inline-block;
	color: #FF016C;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.25rem;
	margin: 0.9375rem 0;
}

body.ten .extra {
	position: relative;
	height: 3.125rem;
	float: left;
}

body.ten .author {
	border-top: 1px #333333;
	display: block;
	font-family: "TiemposTextWeb-Regular",Georgia,serif;
	color: #767676;
	font-style: normal;
}

body.ten h1 {
	background-color: #fff;
	color: #000;
	vertical-align: middle;
	display: inline;
	font-size: 3.625rem;
	line-height: 4rem;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	float:left;
}

body.ten h3 {
	font-weight: normal;
	font-size: 1em;
	font-style: italic;
	white-space: nowrap;
}

body.ten p {
	margin-top: 2.5rem;
	font-size: 1rem;
	color: #3C3C3C;
	font-family: "TiemposTextWeb-Regular",Georgia,serif;
	line-height: 1.618em;
}

body.ten blockquote {
	font-size: 1.125rem;
	color: #3C3C3C;
	line-height: 1.75rem;
	margin-bottom: 0.3125rem;
}

body.ten .cover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	padding: 0;
}

body.ten .covercover {
	/*width: 100px;
	height: 100px;*/
	background-color: white;
	position: absolute;
	z-index: 100;
	text-align: center;
	transform: rotate(45deg);
	left: 175px;
	top: 40%;
	border: 3px;
	border-style: solid;
	border-color: blue;
	padding-left: 5px;
	padding-right: 5px;
}

body.ten .covercover2 {
	/*width: 100px;
	height: 100px;*/
	background-color: white;
	position: absolute;
	z-index: 99;
	text-align: center;
	transform: rotate(-15deg);
	left: -10px;
	bottom: 40%;
	border: 3px;
	border-style: solid;
	border-color: red;
	padding-left: 5px;
	padding-right: 5px;
}


body.ten .coloroverrideblue {
	color: blue;
}

body.ten .coloroverridered {
	color: red;
}

body.ten a {
	text-decoration: none;
}

body.ten #bottom_fade {
	width: 100%;
	height: 200px;
	z-index: 99;
	position: fixed;
	bottom: 0px;
	background: url("bottom-fade.png") bottom center;
}

/* PAGINA UNDECIMA */

body.eleven {
	font-family: Helvetica, Arial, serif;
}

body.eleven h1 {
	color: #5f4dff;
	font-size: 40px;
	line-height: 45px;
	font-family: "Times New Roman", serif;
	font-weight: normal;
	text-transform: lowercase;
	margin: 0;
	padding: 0;
}

body.eleven h2 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
	font-family: Helvetica, Arial, serif;
	font-weight: normal;
	font-color: black;
	color: inherit;
}

body.eleven h3 {
	font-size: 11px;
	color: #333;
	font-family: Helvetica, Arial, serif;
	font-weight: normal;
	color: inherit;
}

body.eleven .maintext {
	width: 556px;
}

body.eleven p {
	margin: 0 0 20px 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #333;
	font-size: 14px;
	line-height: 24px;
	color: inherit;
}

body.eleven blockquote {
	margin: 0 0px 20px;
	padding: 9px 30px 0 19px;
	border-left: 1px solid #ddd;
	font-size: 14px;
	line-height: 24px;
	color: #777;
	color: inherit;
}

body.eleven h4 {
	color: #5f4dff;
	color: inherit;
	font-family: "Times New Roman", serif;
	font-weight: normal;
	text-transform: lowercase;
}

body.eleven .maintext_white {
	color: white;
}

body.eleven ::selection {
	background: black;
}

/* PAGINA DUODECIMA */

body.twelve {
	margin: 0 auto;
	background: #e9e9e9;
}

body.twelve #upper-margin {
	height: 200px;
	width: 100%;
	border-bottom: 1px solid black;
	background: white;
	vertical-align: center;
}

body.twelve .top-image1 {
	position: absolute;
	left: 50%;
	top: 20px;
	z-index: 2;
}

body.twelve .top-image2 {
	position: absolute;
	left: 45%;
	top: 20px;
	z-index: 1;
}

body.twelve .top-image3 {
	position: absolute;
	left: 40%;
	top: 20px;
	z-index: 0;
}

body.twelve .text {
	display: block;
	padding: 45px 44px;
	padding-top: 12px;
	min-height: 250px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

body.twelve header {
	margin: 0;
	padding: 0;
	width: 638px;
	height: 319px;
	position: relative;
	box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	font-family: "Helvetica", Arial, sans-serif;
	background-color: white;
	/*padding: 1em;*/
}

body.twelve h1 {
	/*margin-left: 50%;*/
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 18px 0 0 12px;
}

body.twelve .header-items {
	display: inline-block;
	/*width: 319px;
	height: 319px;*/
	
	overflow: hidden;
	vertical-align: top;
}

body.twelve #header-text {
	/*padding: 1em;*/
}

body.twelve .image {
	width: 319px;
	height: 319px;
}

body.twelve h2 {
	/*margin-left: 50%;*/
	font-size: 20px;
	font-weight: normal;
	font-color: #555;
	margin: 2px 0 0 12px;
	
}

body.twelve h3 {
	/*margin-left: 50%;*/
	color: #888;
	font-size: 12px;
	font-weight: bold;
	margin: 2px 0 0 12px;

}

body.twelve .maintext {
	margin: 0;
	padding: 18px;
	line-height: 24px;
	font-family: Georgia,serif;
	font-size: 15px;
	background-color: #fff;
	margin: 0 0 12px 0;
	padding: 0;
	box-shadow: 0 2px 2px rgba(0,0,0,0.05);
	width: 638px;
	padding: 1em;
	box-sizing: border-box;
}

body.twelve strong {
	color: #ef4135;
	font-weight: normal;
}

body.twelve blockquote {
	display: block;
	margin: 18px 18px 0 18px;
	padding: 18px;
	color: #555;
	font-size: 15px;
	background-color: #f4f4f4;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

body.twelvecover {
	background: black;
}

body.twelvecover .bgimage {
	position: fixed;
	z-index: -10;
	top: -15%;
	left: -5%;
}

body.twelvecover #covertext1 {

	color: red;
	font-size: 5em;
	text-transform: uppercase;
	letter-spacing: 15px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: auto;
	margin: 0 auto;
	position: absolute;
	top: 25%;
	left: 10%;
	transform: rotate(10deg);
	z-index: 10;

}

body.twelvecover #covertext2 {

	color: orange;
	font-size: 5em;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: auto;
	margin: 0 auto;
	position: absolute;
	top: 26%;
	left: 11%;
	transform: rotate(10deg);
	z-index: 9;

}

body.twelvecover #covertext3 {

	color: green;
	font-size: 5em;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: auto;
	margin: 0 auto;
	position: absolute;
	top: 27%;
	left: 12%;
	transform: rotate(10deg);
	z-index: 8;

}

body.twelve .twelvecover a {
	color: inherit;
	text-decoration: none;
}

/* PAGINA TERTIADECIMA */

body.thirteen {
	font-family: Helvetica, Arial, sans-serif;
}

body.thirteen .text {
	border-left: 1px;
	border-left-color: #999999;
	border-left-style: solid;
}

body.thirteen h1 {
	font-family: "Roboto Slab", Georgia, serif;
	font-size: 2.75rem;
	font-weight: 400;
	margin: 0;
}

body.thirteen h3 {
	font-family: "Roboto Slab", Georgia, serif;
	font-size: 1rem;
	font-weight: 400;
}

body.thirteen .author {
	color: #fa4b2a;
}

body.thirteen header {
	margin-top: 2em;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-right: 1px;
	border-right-color: #999999;
	border-right-style: solid;
	padding: 1rem;
	width: 700px;
}

body.thirteen .maintext {
	padding-bottom: 24px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 24px;
	width: 575px;
	border-right: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

body.thirteen p {
	padding-left: 1em;
	padding-right: 1em;
	margin: 1.5rem 0;
	line-height: 1.7;
	font-size: 16px;
}

body.thirteen strong {
	font-weight: normal;
	color: rgb(250, 75, 42);
}

body.thirteen h4 {
	font-weight: normal;
	color: rgb(250, 75, 42);
}

body.thirteen blockquote {
	float: right;
	margin-right: 0;
	max-width: 40%;
	text-align: left;
	font-size: 2.25rem;
	margin: 2.25rem 2.25rem 2rem;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	color: #fa4b2a;
	font-family: "Open Sans Condensed", Helvetica, sans-serif;
}

body.thirteen .cover-clipper {
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
	position: fixed;
}

body.thirteen .layer1 {
	z-index: 5;
	border: none;
}

body.thirteen .layer2 {
	transform: rotate(5deg);
	z-index: 4;
	border: none;
}

body.thirteen .layer3 {
	transform: rotate(10deg);
	z-index: 3;
	border: none;
}

body.thirteen .layer4 {
	transform: rotate(15deg);
	z-index: 2;
	border: none;
}

body.thirteen .layer5 {
	transform: rotate(20deg);
	z-index: 1;
	border: none;
}

body.thirteen .layer6 {
	transform: rotate(25deg);
	z-index: 0;
	border: none;
}

body.thirteen .layer7 {
	transform: rotate(30deg);
	z-index: -1;
	border: none;
}

body.thirteen .layer8 {
	transform: rotate(35deg);
	z-index: -2;
	border: none;
}

body.thirteen #linker {	
	position: fixed;
	bottom: 5%;
	right: 5%;
	width: 150px;
	text-align: right;
	padding-right: .5em;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	color: #fa4b2a;
	font-family: "Open Sans Condensed", Helvetica, sans-serif;
	font-size: 2.25rem;
}

body.thirteen .cover-clipper a {
	text-decoration: none;
	color: inherit;
}

body.thirteen .cover-clipper a:visited {
	text-decoration: none;
	color: purple;
}

/* PAGINA QUARTADECIMA */

body.fourteen {
	font-family: "Hind", sans-serif;
}

body.fourteen .text {
	width: 540px;
	margin-bottom: 10px;
	margin-left: 6em;
	margin-right: 0px;
	margin-top: 0px;
}

body.fourteen h4 {
	font-family: "Courier New," courier;
	font-size: 11px;
	margin: 0 0 8px 0;
	text-transform: uppercase;
	color: #08109f;
	margin-bottom: 2em;
}

body.fourteen h1 {
	font-family: "Muli", sans-serif;
	font-size: 65px;
	margin: 0;
	line-height: 1;
	font-style: normal;
	letter-spacing: -2px;
}

body.fourteen h3 {
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 400;
}

body.fourteen .author {
	text-decoration: underline;
}

body.fourteen strong {

}

body.fourteen p {
	line-height: 1.6;
}

body.fourteen .linker {
	/*width: 100px;
	height: 100px;*/
	background-color: blue;
	color: white;
	font-family: "Hind", sans-serif;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1.6em;
	letter-spacing: 1px;
}

body.fourteen .rotator {
	transform: rotate(45deg);
}

body.fourteen a {
	color: inherit;
	text-decoration: none;
}

body.fourteen a:visited {
	color: inherit;
	text-decoration: none;
}

/* PAGINA QUINTADECIMA */

body.fifteen {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.fifteen .text {
	margin-left: 3em;
}

body.fifteen .maintext {
	width: 482px;
}

body.fifteen header {
	margin-right: 3em;
}

body.fifteen h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 15px;
}

body.fifteen .covertext {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 5em;
	line-height: .75em;
	letter-spacing: -3px;
	font-weight: bold;
}

body.fifteen .nav {
	text-transform: uppercase;
	color: #999;
	border-top: 1px solid;
	border-bottom: 1px solid;
	font-weight: bold;
	padding: .5em 0;
	letter-spacing: -1px;
}

body.fifteen h2 {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 31px;
	letter-spacing: -1px;
}

body.fifteen h3 {
	font-size: 13px;
	line-height: 15px;
	color: #999;
	font-weight: normal;
}

body.fifteen h4 {
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
}

body.fifteen p {
	font-size: 13px;
	line-height: 15px;
}

body.fifteen strong {
	font-weight: normal;
}

body.fifteen blockquote {
	font-size: 13px;
	line-height: 15px;
	margin: 0;
	padding: 0;
}

body.fifteen .image {
	position: fixed;
	bottom: 10%;
	right: 10%;
}

/* PAGINA SEXTADECIMA */

body.sixteen {
	background: black;
	background-image: url("stars.jpg");
}

body.sixteen .text {
	margin: 30% auto 0 auto;
	width: 800px;
}

body.sixteen p, body.sixteen blockquote {
	transition: color .25s ease;
	color: black;
	font-size: 30px;
	line-height: 35px;
}

body.sixteen .cover-contents a {
	color: white;
	text-decoration: none;
}

body.sixteen .cover-contents {
	width: 500px;
	height: 100px;
	margin: auto auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	margin: auto;
}

/*body.sixteen blockquote em {
	color: black;
}*/

body.sixteen p:hover {
	color: white;
}

body.sixteen blockquote:hover {
	color: white;
}

body.sixteen h1 {
	color: white;
	transition: color .25s ease;
	margin: 0;
	text-align: center;
	font-size: 30px;
	font-family: serif;
/*	text-decoration: underline;*/
}

body.sixteen h2 {
	color: white;
	transition: color .25s ease;
	margin: 0;
	text-align: center;
	font-size: 30px;
	font-family: serif;
/*	text-decoration: underline;*/
}

body.sixteen h3 {
	color: white;
	transition: color .25s ease;
	margin: 0;
	text-align: center;
	font-size: 30px;
	font-family: serif;
/*	text-decoration: underline;*/
}


body.sixteen h1:hover {
	color: black;
}

body.sixteen h2:hover {
	color: black;
}

body.sixteen h3:hover {
	color: black;
}

body.sixteen h4:hover {
	color: black;
}

body.sixteen em {
	color: white;
}

/* PAGINA SEPTIMADECIMA */
/* ): TOADALLY BROKEN :( */

body.seventeen {
	background: #d3d3d3;
	font-family: monospace;
}

body.seventeen h1, body.seventeen h2, body.seventeen h3, body.seventeen h4 {
	font-family: monospace;
	font-size: 14px;
	font-weight: normal;
}

body.seventeen strong {
	font-weight: normal;
}

/*body.seventeen .maintext {
	width: 600px;
	margin: 0 auto;
}*/

body.seventeen .text {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

body.seventeen .maintext {
	margin: 0 auto;
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border-radius: 100%;
	display: inline-block;
	transition-property: border-radius, height, width;
	/*transition-duration: 1s;*/
	overflow: hidden;
	/* centering? */
	margin: auto;
	position: static;
	padding: 1em;
}

body.seventeen .centerer {
	text-align: center;
}

body.seventeen a {
	color: black;
	font-style: normal;
}

body.seventeen .maintext:hover {
	border-radius: 5px;
	height: 100%;
	width: 500px;
	/*position: absolute;*/
}

/* PAGINA OCTADECIMA */

/* Special stylesheet to work with columns */

body.eighteen {
	font-size: 12px;
	line-height: 1.5em;
	font-family: monospace;
}

/*p.blocktext {
	margin: auto;
}*/

body.eighteen .box {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	width: 400px;
	height: 1.25em;
	overflow: hidden;
	padding: 1em;
	/*position: static;*/
	display: inline-block;
	margin: 10px 0;
	transition: height 1s ease;
	z-index: -1;
}

body.eighteen .box:hover {
	height: 500px;
	z-index: 5;
}

body.eighteen .centerer {
  position: absolute;
  top: 53%;
}

body.eighteen .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

body.eighteen blockquote { width: 300px; }

/* NINETEEN */

body.nineteen {
	color: black;
	font-size: 15px;
	line-height: 1.2em;
	font-family: Helvetica, Arial, sans-serif;
	cursor: crosshair;
}

body.nineteen .text {
	width: 500px;
}

body.nineteen h1 {
	color: blue;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

body.nineteen h1:hover {
	color: white;
	background: black;
	cursor: none;
}

body.nineteen h2 {
	color: black;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

body.nineteen h2:hover {
	color: white;
	background: black;
	cursor: none;
}

body.nineteen h3 {
	color: purple;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

body.nineteen h3:hover {
	color: white;
	background: black;
	cursor: none;
}

body.nineteen h4 {
	color: black;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

body.nineteen em {
	text-transform: uppercase;
	font-style: normal;
	color: red;
}

body.nineteen em:hover {
	color: white;
	background: black;
	cursor: none;
}

body.nineteen strong {
	font-weight: normal;
}

body.nineteen blockquote {
	margin: 0;
}

body.nineteen .embiggen {
	font-size: 5em;
	line-height: 1em;
	margin: 0;
}

body.nineteen .embiggen:hover {
	cursor: none;
}

body.nineteen .cover {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
}

body.nineteen a {
	color: inherit;
	text-decoration: none;
}

/* twenny */

body.twenty {
	background-color: black;
	color: white;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

body.twenty .text {
	width: 500px;
	margin-left: auto;
}

body.twenty header {
	text-align: center;
}

body.twenty h1 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 2em;
}

body.twenty h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 1em;
}

body.twenty h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 1em;
}

body.twenty h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 1em;
}

body.twenty .fixed-image {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 0;

}

body.twenty .absolute-image {
	position: absolute;
	top: 43%;
	left: 0px;
	z-index: 1;

}

body.twenty .cover-items a {
	color: white;
}

body.twenty .cover-items a:visited {
	color: white;
}

body.twenty.text a {
	color: white;
}

body.twenty .cover-items {
	height: 1000px;
	width: 500px;
	/*padding-top: 500px;*/
	text-align: right;
	position: absolute;
	top: 96%;
}

body.twenty strong {
	font-weight: normal;
}